.sign-up {

  .sign-up-body {
    width: 30%;
    margin: 0 auto;
    height: calc(100vh - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;



    .sign-up-choix {
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        background-color: transparent;
        padding: 10px 15px;
        color: #6763D0;
        font-weight: bold;
        font-size: 13px;
        border: 0;
        outline: 0;
        cursor: pointer;
        transition: .4s ease-in;
      }

      .choix-active {
        background-color: #EBEAFB;
      }
    }

    .login-message {
      p {
        font-size: 10px;
        text-align: center;
        padding: 10px 0;
        font-weight: bold;
        letter-spacing: .5px;
      }

      .login-error {
        color: red;
        background-color: rgba(220, 72, 72, 0.181);
      }

      .login-sucsses {
        color: green;
        background-color: rgba(62, 234, 62, 0.14);
      }

    }

    .sing-up-title {
      text-align: center;
      padding: 10px 0;

      h2 {
        font-family: "Righteous", sans-serif;
        font-size: 30px;
      }
    }

    .sign-up-with-google {
      background-color: rgba(128, 128, 128, 0.462);
      border-radius: 5px;
      animation: loadingAnimation 1.5s infinite ease-in-out;
      height: 50px;
      border-radius: 5px;
    }

    .sign-up-sparate {
      display: flex;
      align-items: center;
      margin: 10px 0;

      span {
        font-size: 13px;
        color: rgba(128, 128, 128, 0.792);
        text-align: center;
      }

      hr {
        height: .1px;
        width: 100px;
        background-color: rgba(128, 128, 128, 0.792);
        width: 30%;
      }
    }

    .sign-up-form {
      form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        .sign-up-input {
          position: relative;
          display: flex;
          flex-direction: column;
          gap: 5px;

          label {
            font-size: 13px;
            font-weight: 600;
            color: #393770;
          }

          input {
            padding: 10px 15px;
            border: 1px solid rgba(128, 128, 128, 0.792);
            outline: 0;
            font-size: 12px;

            &::placeholder {
              font-size: 12px;
            }

            &:focus {
              border-color: #6763D0;
            }
          }

          .sign-up-pswd {
            position: relative;
            height: 40px;

            input {
              position: absolute;
              width: 100%;
              height: 100%;
              padding: 0 10px;
            }

            input::-webkit-contacts-auto-fill-button,
            input::-webkit-credentials-auto-fill-button,
            input::-ms-reveal,
            input::-ms-clear {
              display: none;
            }

            .sign-up-pswd-icons {
              position: absolute;
              right: 15px;
              height: 100%;

              button {
                cursor: pointer;
                height: 100%;
                padding: 0 5px;
                background-color: transparent;
                border: 0;
                outline: 0;

                i {
                  font-size: 12px;
                  color: #6763D0;
                }
              }
            }


          }

          span {
            position: absolute;
            bottom: -15px;
            color: red;
            font-size: 10px;
            letter-spacing: .4px;
          }
        }

        .sign-up-btn {
          margin-top: 10px;

          button {
            width: 100%;
            border: 0;
            outline: 0;
            padding: 10px 0;
            font-weight: bold;
            font-size: 13px;
            background-color: #453FDE;
            color: white;
            cursor: pointer;
            transition: .4s;

            &:hover,
            &:active {
              opacity: .8;
            }
          }

        }

        .pswd-cn {
          display: flex;
          flex-direction: column;

          span {
            font-size: 9px;
            color: rgb(246, 39, 39);
          }
        }
      }

      h4 {
        font-size: 11px;
        text-transform: capitalize;
        margin: 10px 0;
        color: rgba(128, 128, 128, 0.792);

        a {
          margin-left: 10px;
          font-size: 14px;
          color: #6763D0;
          font-weight: bold;
        }
      }

      p {
        margin: 20px 0;
        font-size: 10px;
        color: rgba(128, 128, 128, 0.792);

        span {
          color: #6763D0;
          font-weight: 500;
        }
      }
    }
  }
}